    <!-- รูปเคลื่อนไหว -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto my-4">
                <!-- การสร้าง Carousel -->
                <div class="carousel slide" id="slider1" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <button  data-bs-target="#slider1" data-bs-slide-to="0"></button>
                            <button  data-bs-target="#slider1" data-bs-slide-to="1"></button>
                            <button  class="active" data-bs-target="#slider1" data-bs-slide-to="2"></button>
                            <button  data-bs-target="#slider1" data-bs-slide-to="3"></button>
                        </ol>
                        <div class="carousel-inner" >
                            <div class="carousel-item" >
                                <div class="card col-lg-12 col-sm-5 col-11 mb-4 mx-2">
                                    <img src="https://npt.onab.go.th/th/file/get/file/202107210120a4f9196a5f9eb9f523f31f914da7175822.jpg" class="d-block w-100" style="width: 300px; height: 540px;" >
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>วัดพระปฐมเจดีย์ ราชวรมหาวิหาร</h3>
                                            <p>ตั้งอยู่ที่ ตำบลพระปฐมเจดีย์ อำเภอเมืองนครปฐม จังหวัดนครปฐม มีจุดเด่นที่สำคัญคือ พระปฐมเจดีย์ หรือ พระธมเจดีย์ 
                                                ซึ่งเป็นเจดีย์ที่ใหญ่และสูงที่สุดแห่งหนึ่งในประเทศไทย</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card col-lg-12 col-sm-5 col-11 mb-4 mx-2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Haew_Suwat_Waterfall_Khao-Yai02.jpg/1200px-Haew_Suwat_Waterfall_Khao-Yai02.jpg" class="d-block w-100 " style="width: 300px; height: 540px;"  >
                                <div class="carousel-caption d-none d-md-block">
                                    <h3> อุทยานแห่งชาติเขาใหญ่ </h3>
                                    <p>เป็นอุทยานแห่งชาติแห่งแรกของไทย ได้รับการประกาศเป็นอุทยานแห่งชาติเมื่อวันที่ 18 กันยายน พ.ศ. 2505 
                                        และได้รับสมญานามว่าเป็น "อุทยานมรดกของกลุ่มประเทศอาเซียน"</p>
                                    
                                </div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="card col-lg-12 col-sm-5 col-11 mb-4 mx-2">
                                <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/a66a749a-%E8%8A%AD%E6%8F%90%E9%9B%85%E7%9C%9F%E7%90%86%E5%AF%BA-KLOOK%E5%AE%A2%E8%B7%AF/%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%A3%E0%B9%80%E0%B8%82%E0%B9%89%E0%B8%B2%E0%B8%8A%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%AA%E0%B8%B1%E0%B8%88%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B9%83%E0%B8%99%E0%B8%9E%E0%B8%B1%E0%B8%97%E0%B8%A2%E0%B8%B2.jpg" 
                                    class="d-block w-100" style="width: 300px; height: 540px;" >
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>พิพิธภัณฑ์ปราสาทสัจธรรม</h3>
                                    <p>ตั้งอยู่ที่แหลมราชเวช อ่าววงพระจันทร์ ตำบลนาเกลือ อำเภอบางละมุงจังหวัดชลบุรี 
                                        เป็นอาคารที่สร้างด้วยไม้แกะสลักทั้งหลังเป็นทรงไทยจตุรมุข </p>
                                </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card col-lg-12 col-sm-5 col-11 mb-4 mx-2">
                                <img src="https://www.up.ac.th/images_news/Thumb/content1_637180638185616219.jpg" class="d-block w-100" style="width: 300px; height: 540px;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>มหาวิทยาลัยพะเยา</h3>
                                    <p>เป็นมหาวิทยาลัยในกำกับของรัฐบาล ตั้งอยู่ในจังหวัดพะเยา เดิมชื่อ มหาวิทยาลัยนเรศวร วิทยาเขตพะเยา 
                                        ต่อมา มีการตราพระราชบัญญัติมหาวิทยาลัยพะเยาในปี พ.ศ. 2553 </p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- ควบคุมการ Slide ผ่านปุ่ม -->
                        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slider1">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slider1">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                </div>
            </div>
        </div>
    </div>